/*Import Google Font - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;400;500&family=Trocchi&display=swap');
/*It resets all styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    /*It turns invisible the elements that surpass the limit  */
    overflow: hidden;
    /*Creates a linear gradient(degradê) effect and is applied as background image */
    background: linear-gradient(135deg, #fffafa, #093364);
}

/*applies styles to parts of the document that have been selected by the user  */
::selection{
    color: #fff;
    background: #3C87FF;
}

/*It alocates all the elements of the page*/
.header{
    padding: 20px;
    background-color: #051932;
    color: #fff;
}
h1{
    font-size: 50px;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 48px;
    margin: 18px auto;
}

.container{
    max-width: 500px;
    padding: 28px 0 30px;
    margin: 112px auto;
    background: #fffafa;
    border-radius: 7px;
    box-shadow: 0 10 px 30px rgba(0,0, 0, 0.1);
}
/*It alocates all the elements of the input, like the image and the input text area.*/

.task-input{
    height: 52px;
    padding: 0 25px;
    /*it specifies a relative position of the element in relation 
    to something: the parent element(container).*/
    position: relative;
}

.task-input img{
    top: 50%;
    /*It makes the element “leave” the hierarchy established by the 
    HTML – in practice, it is a child of the page and not of any element 
    in the HTML defined*/
    position: absolute;
    transform: translate(17px, -50%);
    display: flex;
}

.task-input input{
    height: 100%;
    width: 100%;
    /*Takes off the border when the elements is clicked*/
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 2.3px solid #999;
}

/*If the mouse selector is hover(sobre) or focus(selecionado) things are change*/
.task-input input:focus,
.task-input input.active,
.task-input input:hover{
    padding-left: 52px;
    border: 1px solid blue;
    color: 	blue;
}
/*If the mouse selector is hover(sobre) or focus(selecionado) things are change*/
input:hover::placeholder,
input:focus::placeholder
{   
    color:blue; 
    opacity:1
}

/*If the mouse selector is hover(sobre) or focus(selecionado) things are change*/
.task-input input:hover +img,
.task-input input:focus +img{
    background: blue;
}

/*...*/

.list, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span{
    margin: 0 10px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;

}

.filters span:first-child{
    margin-left: 0;
}

.filters span.active{
    color: #3C87FF;
}

.list .clear-btn{
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 5px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}

.clear-btn.active{
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active{
    transform: scale(0.03);
}

.task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}

/*
The 'overflow' property specifies when the contents of a
block-level element must be cut, displayed with
scrollbars or overflows the element.
*/
.task-box.overflow{
    overflow-y: auto;
    max-height: 300px;
}

.task-box::-webkit-scrollbar{
    width: 5px;
}
